<div class="well post">
  <h5 class="post-date">{{book.postDate}}</h5>
  <div class="row">
    <div class="col-md-2">
      <a href="{{book.buyLink}}" target="_blank"><img src="{{book.image}}"></a>
    </div>
    <div class="col-md-8 post-content">
     <h4 class="post-title">{{book.postTitle}}</h4>
     <p>{{book.post}}</p>
    </div>
  </div>
</div>
